include _layout
  #slideshow
    .dias.white
    .dias
      h1 Mothballed
      p by codeartistic.ninja
    .dias
      h1 pixijs-pong
      p: a(href="/tried/pixijs-pong") Play game
    .dias
      p I've always liked the concept of the web, where anything is easily shareable and accessable on any platform.. So it was important to me that my games were based on the web.. So any tools or engines I were to use, had to support that..
    .dias
      p One of the first game engines I tried was PixiJS (which is technically a graphics engine, but whatevs).. Whenever I try out a new game engine, I often make a pong game, just to get a feel of how the engine works..
    .dias
      h1 Space Rocks from Another Dimension
    .dias
      p From one classic video game to another.. This one is based on the Atari classic "Asteroids".. This wasn't just meant to be a clone.. I had a bunch of ideas to build upon the core mechanics of Asteroids, some more thought-out than others..
    .dias
      p As the title suggests, there were supposed to be different dimensions that you could travel to.. Each with their own art style like the classic arcade look, drawn with crayons, built out of legos, knitted out of yarn, made out of clay, cut out photos etc..
    .dias
      p I had some quite ambitious ideas for the game, and yet never really figured out how to turn them into proper engaging game mechanics.. I only made the very basics of Asteroids, before I decided to move on to another project..
    .dias
      h1 Alone in thought
    .dias
      p This was a more original idea and probably the first art game I attempted to make.. Using the bird as a metaphor for your fickle train of thought, trying to stay positive in a depressing world..
    .dias
      p As an introverted programmer, I guess I've expressed myself more in the form of code rather than actual words.. This was my way of expressing my mental state at the time..
    .dias
      p I suppose this game is actually nearly finished.. Certainly compared to many of my future games.. But at the time, I just felt it wasn't polished enough..
    .dias
      h1 nothing
    .dias
      p I wanted my games to tell a story, and what better way to tell a story than through the power of the written word.. So I thought I would try making text based adventure games..
    .dias
      p This seemed like a simple task at first, but soon found out that I had a lot to learn about writing stories, let alone interactive stories..
    .dias
      p Once again, I managed to make little more than a basic engine.. Why did I call it "nothing"..? I don't remember..
    .dias
      h1 Prototype arcade
    .dias
      p I often think about how I can "cheat" skills by turning weaknesses into strengths.. I seem to be able to create clones of classic arcade games just fine, but have trouble coming up with something original.. So why not just make a game where I throw in all the classic arcade games I'm able to make..?
    .dias
      p Apparently I didn't get very far.. I probably could have pulled it off, if I set my mind to it.. I even had a narrative in mind to go with the arcade setting..
    .dias
      h1 Fate of mind
    .dias
      p Remember when you got bored in school and just sat and doodled on paper..? This game was about dreaming big in spite of a pessimistic atmosphere..
    .dias
      p The idea was that the doodles had a life and a world of its own, affected by the struggles the creator of the doodles is going through.. Teachers, parents and other figures telling you that your dreams are stupid and unrealistic and you should just get a "regular" job..
    .dias
      p The objective for the doodles was to motivate the creator to stay positive and keep fighting for their dreams..
    .dias
      h1 My mountain to climb
    .dias
      p I had this idea of a story set in a dystopian world, where doing your job without question, was considered the epitome of happiness.. As the protagonist, you try to earn enough money to climb the city walls and escape to live his own life..
    .dias
      p The mountain metaphor strongly resonated with my own desire to challenge myself and fighting for my right to dream and grow as a person.. This is my mountain to climb.. No one else can climb it for me..
    .dias
      h1 One game a month challenge
    .dias
      p Beginning 2017, I decided to challenge myself to make a game per month for a full year.. The year is now almost over and I'm happy to have finished it with this 12th game, showing you my failed attempts along the way
    .vignette
  //#game-container: .page#game
  //article.page
    include:markdown-it ../README.md
    // p: a(href="//github.com/codeartisticninja/"+pkg.name) Source on Github
  script(type="text/javascript", src="script/main.js")

